/*

-We should discuss adding an overflow ellipse in the .question-type componant
-Once I made the .question-type componant to have members of buttons instead of text
 the 'border-bottom' attribute stopped showing up
-Is my button creation within .question-type sufficient or do I need to more to map the buttons to variables?
-I should order the componant attributes in a comnsistant way
-How to insert Icons alongside const tools
-How to import them more cleanly(folder?)
-How to line up icons with their text(y direction)
-Possibly move team icon to beneath toolbox

*/

.survey-builder {
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    max-width: 100vw;
}

.question-title-view {
    display: flex;
    flex-direction: row;
}


.question-name {
    font-size: 18px;
    background: none;
    margin: 19px 10px;
    width: 200%;
    border: none;
    caret-color: green;
}

.toolbox-table {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 25%;
}

.questions-display {
    width: 55%;
    max-width: 55%;
    display: flex;
    max-height: 100vh;
    overflow:auto;
    margin: 5px;
}

.table-header {
    display: flex;
    color: #6A6E70;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.questions {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 30px;
}

.question-type {
    flex-direction: row;
    background-color: hsl(0, 0%, 96%);
    text-align: left;
    font-size: 22px;
    color: #6A6E70;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none;
    border-bottom :1.5px solid #E8EAEC;
    border-radius: 4px;
    overflow: hidden; /* How to add ellipse instead of direct cut during overlow? */
    white-space: nowrap;
}

.question-type:hover {
    cursor: pointer;
}

.Icon-SA {
    width: 15%;
    margin-right: 20px;
}

.survey-builder-view {
    display: flex;
    background-color: #f4f4f4;
    width: 100%;
    margin-top: 5%;
}


.empty-count {
    font-size: 24px;
    align-self: center;
    width: 100%;
}

.builder-questions-view {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question-number {
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
}

.survey-question {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    width: 100%;
}


.question-upper-body {
    display: flex;
    flex: 10;
    flex-direction: row;
    width: 100%
}

.survey-question:nth-child(even) {
    background-color: #f4f4f4;
    border: 1px solid #e8eae8;
}

.delete-button {
    background-color: Transparent;
    border: none;
    width: 35px;
    margin-right: 20px;
    float: right;
}

.delete-logo {
    width: 100%;
}

/*.toggle-button {*/
/*    padding-top: 17px;*/
/*}*/

.toggle-button-label {
    margin-left: auto;
    margin-right: 5px;
    padding-top: 1%;
}

.title-row {
    display: flex;
    width: 100%;
}



.toolbox-label {
    line-height: 100%;
}

.question-bank-table{
    width: 25%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 80vh;
}

.question-bank-card{
    overflow: visible !important;
    padding: 5%;
    margin: 2px;
}

.question-bank-card-add{
    z-index: 100;
    position: relative;
    right: -40%;
    min-width:0 !important;
}

