.App {
  text-align: center;
}

.App-logo {
  bottom: 0;
  align-self: flex-end;
  width: 200px;
  height: 100%;
  position: sticky;
}

.header {
  flex-direction: row;
  max-height: 40px;
  margin-top: 2vh;
  padding: 20px;
  display: flex;
  align-items: center;
}


.title{

  width: 35vw;
}

.App-background {
  background-color: hsl(0, 0%, 96%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.react-tags__suggestions{
  z-index: 1000;
}
